NODE_ENV=development
PORT=3000

DATABASE_PROVIDER=local
DATABASE_URL=postgresql://postgres:CAMBIAR_PASSWORD@localhost:5432/wiksayuq_db?schema=public

AUTH_PROVIDER=local
JWT_ACCESS_SECRET=CAMBIAR_SECRET_ACCESS
JWT_REFRESH_SECRET=CAMBIAR_SECRET_REFRESH
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGINS=http://localhost:8081

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

MAX_BASE64_IMAGE_MB=2
